If you touch the bird , you get bonus points.
Type your name on the name button to activate the game.
Use space bar  to make the player jump.
If you touch the monster , your power decreases.
When you complete one level you jump to a higher level.
If you want to start the game again tap on the reset button to start from fresh.